.category-page {
    .post-list {
        .post {
            margin-bottom: 15px;
            transition: .3s;

            &:hover {
                box-shadow: 0 0 5px 1px #d6d3d3;
            }
        }

        h3 {
            display: block;
            font-family: @openSans-Bold;
            color: @base-text-color;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
    }

    &-title {
        animation: slideUp 2s forwards ease-in;
    }

    @keyframes slideUp {
        0% {
            transform: translateX(-100%);
        }
        35% {
            transform: translateX(15%);
        }

        40% {
            color: @text-color-green;
        }
        50% {
            color: @base-text-color;
        }

        60% {
            color: @text-color-green;
        }
        70% {
            color: @base-text-color;
        }

        80% {
            color: @text-color-green;
        }
        90% {
            color: @base-text-color;
        }
        100% {
            transform: translateX(0%);
        }
    }
}

@media (min-width: @screen__xxs) {
    .category-page {
        .post-list {
            display: flex;
            flex-wrap: wrap;
        }

        .post {
            width: ~'calc((100% - 15px)/2)';
            margin-right: 15px;

            &:nth-child(2n+2) {
                margin-right: 0;
            }
        }
    }
}

@media (min-width: @screen__xs) {
    .category-page {
        .post-list {
            .post {
                width: ~'calc((100% - 30px)/3)';

                &:nth-child(2n+2) {
                    margin-right: 15px;
                }

                &:nth-child(3n+3) {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (min-width: @screen__m) {
    .category-page {
        .post-list {
            .post {
                width: ~'calc((100% - 45px)/4)';

                &:nth-child(3n+3) {
                    margin-right: 15px;
                }

                &:nth-child(4n+4) {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (min-width: @screen__l) {
    .category-page {
        .post-list {
            .post {
                width: ~'calc((100% - 60px)/5)';

                &:nth-child(4n+4) {
                    margin-right: 15px;
                }

                &:nth-child(5n+5) {
                    margin-right: 0;
                }
            }
        }
    }
}